<h3> Reactive Form Section </h3>
<!--Reactive Form Testing Starts-->
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div formGroupName="userData">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" formControlName="username">
        <span *ngIf="!signUpForm.get('userData.username').valid && signUpForm.get('userData.username').touched">Please enter valid username</span>
        <br>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" formControlName="email">
        <span *ngIf="!signUpForm.get('userData.email').valid && signUpForm.get('userData.email').touched">Please enter valid email</span>
    </div>
    <br>
    <label for="description">Description</label>
    <textarea type="text" id="description" name="description" formControlName="description"></textarea>
    <span *ngIf="!signUpForm.get('description').valid && signUpForm.get('description').touched">Please enter valid description</span>
    <br>
    <div formArrayName="hobbies">
        <h3>Hobbies</h3>
        <button type="button" (click)="addHobby()">Add Hobby</button>
        <div *ngFor="let hobbyControl of signUpForm.get('hobbies').controls; let i = index">
            <input type="text" [formControlName]="i">
        </div>
    </div>
    <br>
    <div *ngFor="let gender of genders">
        <label>
            <input type="radio" name="gender" ngModel [value]="gender" required formControlName="gender">
            {{ gender }}
        </label>
        <span *ngIf="!signUpForm.valid && signUpForm.touched">Please enter choose gender</span>
    </div>
    <button type="submit" [disabled]="!signUpForm.valid">Submit</button>
</form>

<!--Reactive Form Testing Ends-->

