<h3> Template Driven Form Section </h3>
<!--Template Driven Form Testing Startmodus-->
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" ngModel required #username="ngModel">
        <span *ngIf="!username.valid && username.touched">Please enter valid username</span>
        <br>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" ngModel email #email="ngModel">
        <span *ngIf="!email.valid && email.touched">Please enter valid email</span>
        <br>
        <span *ngIf="!userData.valid && userData.touched">Group Data is not Valid</span>
    </div>
    <br>
    <label for="description">Description</label>
    <textarea type="text" id="description" name="description" ngModel #description="ngModel" required></textarea>
    <span *ngIf="!description.valid && description.touched">Please enter valid description</span>
    <br>
    <div *ngFor="let gender of genders">
        <label>
            <input type="radio" name="gender" ngModel [value]="gender" required>
            {{ gender }}
        </label>
    </div>
    <button type="submit" [disabled]="!f.valid">Submit</button>
</form>

<div *ngIf="submitted">
    <h3>User Info</h3>
    <p>Name: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Description: {{ user.description }}</p>
    <p>Gender: {{ user.gender }}</p>
</div>
<!--Template Driven Form Testing Ends-->
