<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <input type="text" [(ngModel)]="title">
</div>

<app-server [srvElement]="title"></app-server>
<app-front-server></app-front-server>
<h3> Form Section </h3>
<!--Form Testing Starts-->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" ngModel required #username="ngModel">
            <span *ngIf="!username.valid && username.touched">Please enter valid username</span>
            <br>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" ngModel email #email="ngModel">
            <span *ngIf="!email.valid && email.touched">Please enter valid email</span>
            <br>
            <span *ngIf="!userData.valid && userData.touched">Group Data is not Valid</span>
        </div>
        <br>
        <label for="description">Description</label>
        <textarea type="text" id="description" name="description" ngModel #description="ngModel" required></textarea>
        <span *ngIf="!description.valid && description.touched">Please enter valid description</span>
        <br>
        <button type="submit" [disabled]="!f.valid">Submit</button>
    </form>
<!--Form Testing Ends-->




<!--<div app-server></div>-->
<!--<div class="app-server"></div>-->



